        <header>
                <div class="banner">
                        <img id="logo" src="images/TR_logo250.png" alt="Tenacious Raccoon logo">
                        <h1 id="banner-text">Timothy Rutkowski's Tenacious Raccoon | WEB215 </h1>
                </div>
                        <nav>
                                <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="introduction.html">Introduction</a></li>
                                        <li><a href="contract.html">Course Contract </a></li>
                                        <li><a href="brand.html">Brand Guidelines</a></li>
                                </ul>
                        </nav>
        </header>
