/*COLOR PALLETTE
  Background: #f8f5d5
  Font: #161508
*/

html {
  background-color: #f8f5d5;
  color: #161508;
  font-family: "Economica", serif;
  margin: 0;
  padding: 0;
}

/*FONT STYLES*/
.economica-regular {
  font-family: "Economica", serif;
  font-weight: 400;
  font-style: normal;
}

.economica-bold {
  font-family: "Economica", serif;
  font-weight: 700;
  font-style: normal;
}

.economica-regular-italic {
  font-family: "Economica", serif;
  font-weight: 400;
  font-style: italic;
}

.economica-bold-italic {
  font-family: "Economica", serif;
  font-weight: 700;
  font-style: italic;
}

/*BODY STYLES*/
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

 /*HEADER STYLES*/
header {
  display: flex;
  flex-direction: row;
}

img {
  margin: 10px;
  padding: 0;
}

  /*NAV STYLES*/
  nav ul {
    display: flex;
    padding: 0;
    margin: 30px 0;
  }

  nav ul li {
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
  }

  nav ul li a {
    text-decoration: none;
  }

  /*FOOTER STYLES*/
  footer ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }

  footer ul li {
    list-style-type: none;
  }

  footer ul li a {
    text-decoration: none;
  }
